::ng-deep .toggle-group .mat-button-toggle {
  background-color: #282828 !important;
  color: white;
  border: none;
  margin-right: 8px;
  border-radius: 4px;
}

::ng-deep .toggle-group .mat-button-toggle-checked {
  background-color: #7b1fa2 !important;
  color: white;
}
