<mat-toolbar color="primary" class="home-toolbar">
  <span class="toolbar-title">HR Management System</span>
</mat-toolbar>

<mat-card class="home-nav-card">
  <mat-button-toggle-group
    [value]="getActiveSection()"
    appearance="standard"
    class="toggle-group"
  >
    <mat-button-toggle value="candidates" [routerLink]="['/candidates']">
      <mat-icon>person</mat-icon>
      &nbsp;Candidates
    </mat-button-toggle>

    <mat-button-toggle value="employees" [routerLink]="['/employees']">
      <mat-icon>badge</mat-icon>
      &nbsp;Employees
    </mat-button-toggle>

    <mat-button-toggle value="companies" [routerLink]="['/companies']">
      <mat-icon>business</mat-icon>
      &nbsp;Companies
    </mat-button-toggle>

    <mat-button-toggle value="departments" [routerLink]="['/departments']">
      <mat-icon>domain</mat-icon>
      &nbsp;Departments
    </mat-button-toggle>

    <mat-button-toggle value="salaries" [routerLink]="['/salaries']">
      <mat-icon>attach_money</mat-icon>
      &nbsp;Salaries
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>

<div class="content">
  <router-outlet></router-outlet>
</div>
