<mat-card>
  <div class="top-bar">
    <mat-card-title>Employee DB</mat-card-title>
    <button mat-raised-button color="primary" [routerLink]="['/employees/add']">
      Add Employee
    </button>
  </div>
  <table mat-table [dataSource]="employees" class="mat-elevation-z8 candTable">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="companyId">
      <th mat-header-cell *matHeaderCellDef>Company</th>
      <td mat-cell *matCellDef="let element">
        {{ getCompanyName(element.companyId) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="departmentId">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">
        {{ getDepartmentName(element.departmentId) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="salaryId">
      <th mat-header-cell *matHeaderCellDef>Salary</th>
      <td mat-cell *matCellDef="let element">
        {{ getSalaryAmount(element.salaryID) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          color="accent"
          [routerLink]="['/employees/edit', element.id]"
        >
          Edit
        </button>
        <button mat-button color="warn" (click)="deleteEmployee(element.id)">
          Delete
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'id',
        'firstName',
        'lastName',
        'email',
        'companyId',
        'departmentId',
        'salaryId',
        'actions'
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: [
          'id',
          'firstName',
          'lastName',
          'email',
          'companyId',
          'departmentId',
          'salaryId',
          'actions'
        ]
      "
    ></tr>
  </table>
</mat-card>
