<mat-card
  ><form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" novalidate>
    <!-- Inputs with [(ngModel)] + required -->

    <mat-form-field>
      <input
        matInput
        placeholder="First Name"
        [(ngModel)]="employee.firstName"
        name="firstName"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Last Name"
        [(ngModel)]="employee.lastName"
        name="lastName"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="employee.email"
        name="email"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Phone"
        [(ngModel)]="employee.phone"
        name="phone"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <mat-select [(ngModel)]="employee.companyId" name="companyId">
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{ company.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Department</mat-label>
      <mat-select [(ngModel)]="employee.departmentId" name="departmentId">
        <mat-option *ngFor="let dept of departments" [value]="dept.id">
          {{ dept.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Salary</mat-label>
      <mat-select [(ngModel)]="employee.salaryId" name="salaryId">
        <mat-option *ngFor="let salary of salaries" [value]="salary.id">
          {{ salary.amount }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Resume URL"
        [(ngModel)]="employee.resumeUrl"
        name="resumeUrl"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>
    <button
      mat-raised-button
      color="warn"
      class="cancel-btn"
      [routerLink]="['/employees']"
    >
      Cancel
    </button>
  </form>
</mat-card>
