<mat-card
  ><form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" novalidate>
    <!-- Inputs with [(ngModel)] + required -->

    <mat-form-field>
      <input
        matInput
        placeholder="First Name"
        [(ngModel)]="employee.firstName"
        name="firstName"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Last Name"
        [(ngModel)]="employee.lastName"
        name="lastName"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="employee.email"
        name="email"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Phone"
        [(ngModel)]="employee.phone"
        name="phone"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="company ID"
        [(ngModel)]="employee.companyId"
        name="companyId"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Department ID"
        [(ngModel)]="employee.departmentID"
        name="departmentID"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Salary ID"
        [(ngModel)]="employee.salaryID"
        name="salaryID"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Resume URL"
        [(ngModel)]="employee.resumeUrl"
        name="resumeUrl"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
