<mat-card
  ><form
    #departmentForm="ngForm"
    (ngSubmit)="onSubmit(departmentForm)"
    novalidate
  >
    <!-- Inputs with [(ngModel)] + required -->

    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="department.name"
        name="name"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <mat-select [(ngModel)]="department.companyId" name="companyId">
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{ company.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>
    <button
      mat-raised-button
      color="warn"
      class="cancel-btn"
      [routerLink]="['/departments']"
    >
      Cancel
    </button>
  </form>
</mat-card>
