/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field-wrapper {
  margin-right: 70px;
}
.mat-input-element {
  font-size: 1rem !important;
}
.full-width-table {
  width: 100%;
}

.text-center {
  text-align: center;
  vertical-align: middle;
}
.candTable {
  width: 100%;
}
th.mat-header-cell {
  border-inline-end: 1px solid #5f5a5a;
  padding-left: 0.5rem !important;
}
